pkgbase = python2-bin
	pkgdesc = Python2 binaries for x86_64
	pkgver = 2.7.18_1
	pkgrel = 1
	url = https://python.org
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = PSF
	depends = bzip2
	depends = expat
	depends = gdbm
	depends = libffi
	depends = libnsl
	depends = libxcrypt
	depends = openssl
	depends = sqlite
	depends = zlib
	provides = python2
	conflicts = python2
	source_x86_64 = https://github.com/atomlong/python2-bin/releases/download/2.7.18_1/python2-build-amd64.tar.gz
	md5sums_x86_64 = d1a5929835018fa5ca18853c49c972ad
	source_armv7h = https://github.com/atomlong/python2-bin/releases/download/2.7.18_1/python2-build-armv7.tar.gz
	md5sums_armv7h = 7f4470869d8240b68af9619f9e12ebe4
	source_aarch64 = https://github.com/atomlong/python2-bin/releases/download/2.7.18_1/python2-build-arm64.tar.gz
	md5sums_aarch64 = 997b80dc5218c96f1b2f82a14079ab11

pkgname = python2-bin
